.container
  .row
    .column
      = form_for @recipe do |f|
        .form.title
          = f.label :recipe_title
          = f.text_field :title
        .form.instructions
          = f.label :instructions
          = f.text_area :instructions, rows: "4"
        = f.nested_fields_for :ingredients do |iform|
          .form.ingredient
            = iform.label :ingredient_name
            = iform.text_field :name
            = iform.label :ingredient_quantity
            = iform.text_field :quantity
            %br
            = iform.remove_nested_fields_link "remove ingredient"
        .formcolumn
          = f.add_nested_fields_link :ingredients, "Add ingredient"
          %br
          %br
          = f.submit
