!!!
%html
  %head
    %title MealPlanner
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      .row
        .column
          .row
            .column
              = render "layouts/nav"
              %p.notice= notice
              %p.alert= alert
      .row
        .column
          = yield
      .row
        .column
          = render "layouts/footer"
