!!!
%html
  %head
    %title MealPlanner
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render "layouts/nav"
    %p.notice= notice
    %p.alert= alert
    = yield
    = render "layouts/footer"
