!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'content-Type'}/
    %meta{:charset => 'UTF-8'}/
    %title MealPlanner
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    -# = console if Rails.env.development?
    %p.notice= notice
    %p.alert= alert


    %header#main_navigation.clearfix
      = link_to 'Menu Planner', root_path, :class => 'name'
      %nav
        - if user_signed_in?
          = link_to "My Recipes", recipes_path
          = link_to "Add recipe", new_recipe_path
          = link_to "Add a meal", new_meal_path
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in", new_user_session_path
          = link_to "Sign up", new_user_registration_path
    = yield
    %footer#main_footer
      %p.copyright ©2016 Alex, Jose, Nomi, Zeeshan
